#######################################
# Arquivos de Log
#######################################
*.log

#######################################
# Arquivos do Sistema Operacional
#######################################
.DS_Store        # macOS
Thumbs.db        # Windows

#######################################
# Variáveis de Ambiente
#######################################
.env
.env.backup
.env.production

#######################################
# Dependências
#######################################
/vendor          # Composer
/node_modules    # NPM

#######################################
# Build / Assets Compilados
#######################################
/public/build
/public/hot

#######################################
# Storage (arquivos gerados pela aplicação)
#######################################
/public/storage
/storage/*.key
/storage/pail

#######################################
# Arquivos de IDE / Editor
#######################################
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
.phpactor.json
.phpunit.result.cache

#######################################
# Autenticação / Configurações locais
#######################################
/auth.json

#######################################
# Ambiente de Desenvolvimento (Laravel)
#######################################
Homestead.json
Homestead.yaml

#######################################
# Pastas locais personalizadas
#######################################
/my              # Pasta local ignorada (uso pessoal)